{% extends '_layout.html' %}

{% block title %}Movie Rating App | Search Movie Ratings{% endblock %}

{% block body %}
<h1 class="mb-5">Search Movie Ratings</h1>
<p class="mb-3">Search for a movie rating below</p>
<!-- TODO: Feature 3 -->

<form method="GET">

    <input type="search" placeholder="Search" label="Search" name="movies">
    <button class="btn btn-outline-success" type="submit">Search</button>

</form>

<table class="table">

        

<thead><tr><th scope="col">Title</th><th scope="col">Director</th><th>Rating</th></tr></thead>


<tr><td>{{movie.title}}</td><td>{{movie.director}}</td><td>{{movie.rating}}</td></tr>




</table>

{% endblock %}

